<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Create New</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                Upload Demo
            </button>
        </div>
    </div>



    <form action="" method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control" value="{{project.name}}" placeholder="Project Name">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">alias</label>
                    <input type="text" class="form-control" placeholder="alias">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Github Link</label>
                    <input type="text" class="form-control" placeholder="Github Link">
                </div>
            </div>
            


            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tags</label>
                    <input type="text" class="form-control"  placeholder="Tags">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input type="text" class="form-control" placeholder="Description">
                </div>
            </div>


            <div class="col-6">

                <a href="#">Change Cover Photo</a>

            </div>


            <div class="col-6">
                <button class="btn btn-primary">Update</button>
            </div>


        </div>
    </form>


</main>